
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/admin/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/static/admin/css/fullcalendar.css" />
		<link rel="stylesheet" href="/static/admin/css/matrix-style.css" />
		<link rel="stylesheet" href="/static/admin/css/matrix-media.css" />
		<link href="/static/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/admin/css/jquery.gritter.css" />
		<link rel="shortcut icon" href="/static/user/themes/images/ico/favicon.ico">
	</head>

	<body>
		







<!--Header-part-->
{% if not admin %}
	<c:redirect url="{{url_for('login')}}"></c:redirect>
{% endif %}
<div id="header">
	<h1><a href="{{url_for('index')}}">Matrix Admin</a></h1>
</div>
<!--close-Header-part-->
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
	<ul class="nav">
		<li class="dropdown" id="profile-messages">
			<a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i> <span class="text">Welcome {{admin.name}}</span><b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li>
					<a href="{{url_for('index')}}"><i class="icon-user"></i> My Profile</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="{{url_for('logout')}}"><i class="icon-key"></i>Log Out</a>
				</li>
			</ul>
		</li>
		
	</ul>
</div>
<!--close-top-Header-menu-->

<!--start-top-serch-->
<div id="search">
	<input type="text" placeholder="Search Book Information" disabled/>
	<button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->

<!--sidebar-menu-->
<div id="sidebar">
	<ul>
		<li class="active">
			<a href="{{url_for('index')}}"><i class="icon icon-home"></i> <span>Home</span></a>
		</li>
		<!--管理员-->
		<li class="">
			<a href="{{url_for('changeadmininfo')}}"><i class="icon-info-sign"></i> <span>修改密码</span></a>
		</li>
		
		</li>
		<!--用户-->
		<li class="">
			<a href="{{url_for('adminuserlist')}}"><i class="icon icon-user"></i> <span>查看用户</span></a>
		</li>
		<!--订单-->
		<li class="">
			<a href="{{url_for('orderinfo')}}"><i class="icon-inbox"></i> <span>查看订单</span></a>
		</li>
		<!--书籍-->
		<li class="submenu">
			<a href="#"><i class="icon-book"></i> <span>书籍管理</span><span class="label label-important">2</span></a>
			<ul>
				<li>
					<a href="{{url_for('addbook')}}">添加书籍</a>
				</li>
				<li>
					<a href="{{url_for('editbook')}}">编辑书籍</a>
				</li>
			</ul>
		</li>
		
	</ul>
</div>
<!--sidebar-menu-->



















		<!--main-container-part-->
		<div id="content">
			<!--breadcrumbs-->
			<div id="content-header">
				<div id="breadcrumb">
					<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
				</div>
			</div>
			<!--End-breadcrumbs-->

			<!--Action boxes-->
			<div class="container-fluid">
				<div class="quick-actions_homepage">
					<ul class="quick-actions">
						
						
						<li class="bg_lg span3">
							<a href="{{url_for('adminuserlist')}}"> <i class="icon icon-user"></i>Users</a>
						</li>
						<li class="bg_lb">
							<a href="{{url_for('orderinfo')}}"> <i class="icon-inbox"></i><span class="label label-success"></span>Orders</a>
						</li>
						<li class="bg_lo">
							<a href="{{url_for('editbook')}}"> <i class="icon-book"></i>Books</a>
						</li>
						<li class="bg_lb">
							<a href="/static/servlet/ConsultServlet/consultPager_admin?pageNo=1"> <i class="icon-pencil"></i> Evalcute </a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<!--End-Action boxes-->
		<script src="/static/admin/js/jquery.min.js"></script>
		<script src="/static/admin/js/jquery.ui.custom.js"></script>
		<script src="/static/admin/js/bootstrap.min.js"></script>
		<script src="/static/admin/js/jquery.uniform.js"></script>
		<script src="/static/admin/js/select2.min.js"></script>
		<script src="/static/admin/js/jquery.dataTables.min.js"></script>
		<script src="/static/admin/js/matrix.js"></script>
		<script src="/static/admin/js/matrix.tables.js"></script>
	</body>

</html>
